
@import "nav.css";


body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1ff;
  }

  h1 {
    margin: 0px;
    padding: 0px;
  }
  
  p {
    margin: 0px;
  }