nav {
  border-bottom: 1px #eaeaeaea solid;
  width: 100%;
  background-color: white;
  position: fixed;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav .sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
nav .social {
    margin-right: 40px;

}

@media only screen and (max-width: 410px) {
  #subheader {
    display: none;
  }
}
